* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: cursive;
}


header {
    width: 100vw;
    height: 200px;
    background-color: #3399FF;
    display: flex;
}




.imagencont {

    width: 30%; 
    display: flex;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    justify-content: center;

}

.imagencont img {
    width: 200px;
    height: auto;
    border-radius: 300px; 

}


.info {
    background-color: rgb(0, 170, 255);
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info p {
    font-size: 12px;
}

section {

    background-color: violet;
    display: flex;
    justify-content: space-between;

}


.habilidades {
    width: 30%;
    background-color: palevioletred;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.contacto {
    width: 70%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}


.datos1 {
    width: 120px;
    height: 100px;
    margin-top: 20px;
}


.otrolado {
    width: 70%;
    display: flex;
    align-items: center;

    flex-direction: column;

}


 

